* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.heading {
    position: absolute;
    width: 100%;
    height: 65px;
    background-color: rgb(26, 97, 26);
}

.name {
    position: static;
    color: darkgreen;
    background-color: darkseagreen;
    width: fit-content;
    height: 45px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.name h1 {
    font-size: 35px;
    margin: 10px;
    text-align: right;
}

nav {
    position:absolute;
    right:50%;
    margin-right:-600px;
    top:12px;
}

ol {
    margin:0;
    padding:0;
    list-style-type:none;
}

li {
    display:inline-block;
    font-size:16px;
    font-weight:300;
    padding: 0 12px;
}

a {
    color:darkseagreen;
    border-bottom:3px solid transparent;
    display: block;
    padding: 8px 12px;
    text-decoration:none;
    &:hover {
        border-bottom-color: rgb(0, 55, 0);
    }
}

.image {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    background-image:url(greenleaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    display: inline; 
    color: darkgreen;
    background-color:darkseagreen;
    text-align: end;
    margin-right: 150px;
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 4px;
    

}

element.style {
    text-align: right;
}

.subtitle {
    position: relative;
}

.subtitle h2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

main {
    margin-top: 300px;
    padding:20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row h2 {
    width: 25%;
}

.right-column {
    display: flex;
    flex-direction: column;
}