* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
    background-color:rgb(26, 97, 26);
}

.name h1 {
    align-self: center;
    color: darkgreen;
    background-color: darkseagreen;
    font-size: 35px;
    margin: 10px 10px 10px 0px;
    padding-left: 30px;
    padding-right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav {
padding-right: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 85px;
    list-style-type: none;
}

nav ul li {
    align-self: center;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: darkseagreen;
    border-bottom:3px solid transparent;
    padding: 8px 12px;
    &:hover {
        border-bottom-color: rgb(0, 55, 0);
    }
}

main {
    margin-top: 100px;
    padding:20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row h2 {
    width: 25%;
    text-align: end;
    margin-right: 60px;
    font-size: 50px;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.image {
    height: 150px;
    width: 100%;
    background-image:url(greenleaves.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}